<form method="POST" action="">
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" name="pre_id" placeholder="Predecessor ID" class="form-control">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" name="suc_id" placeholder="Successor ID" class="form-control">
    </div>

        <div class="d-flex justify-content-center mt-3 login_container">
             <input class="btn login_btn" type="submit" value="Add Predecessor Movie">
        </div>
    
</form>